# Python bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
backend/data/tracks.json
backend/data/tracks_export.csv

# Environments
.env
vbox/
env/
venv/
ENV/

# IDEs
.idea/
.vscode/

# Docker
.docker/